html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wheat {
    background-color: yellow;
}

.mud {
    background-color: brown;
}

.cave {
    background-color: grey;
}

.sea {
    background-color: lightblue;
}

.field {
    background-color: lightgreen;
}

.forest {
    background-color: green;
}