body {
    margin: 20px;
}

* {
    font-size: 13px;
}

div {
    box-sizing: border-box;
}

.board {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.port {
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.boat {
    width: 200px;
    height: 70px;
    margin: 20px;
    padding: 5px;
}

.boat-ready {
    border: 3px solid black;
}

.player {
    background-color: lightgreen;
    border: 1px solid black;
    width: 400px;
    height: 350px;
}

.stone {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    line-height: 50px;
    margin: 2px;
    text-align: center;
    display: inline-block;
}

.boat_stone {

}

.inline-block {
    display: inline-block;
}

.boat_stone_fill {
    background-color: lightblue;
}

.destination-container {
    width: 800px;
    height: 800px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.source {
    width: 400px;
    height: 800px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.region {
    width: 800px;
    height: 200px;
    border: 1px solid lightgrey;
}

.action {
    display: flex;
}