body {
    margin: 20px;
}

* {
    font-size: 13px;
}

div {
    box-sizing: border-box;
}

.board {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.port {
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.terminal {
    height: 100px;
    display: flex;
}

.terminal-empty {
    background-color: lightgrey;
    border: 1px dashed black;
    width: 200px;
}

.boat {
    height: 70px;
    margin: 20px;
    padding: 5px;
    border: 3px solid black;
    display: flex;
    position: relative;

}

.empty-boat {
    border: unset;
}

.player {
    background-color: lightgreen;
    border: 1px solid black;
    width: 400px;
    height: 350px;
    padding: 10px;
}

button {
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.player-title {
    font-size: 20px;
}

.player-stone-container {
    margin: 10px 0;
    display: flex;
}

.stone {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    line-height: 50px;
    margin: 2px;
    text-align: center;
    display: inline-block;
    background-color: sandybrown;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
}

.boat_stone {
}

.inline-block {
    display: inline-block;
}

.boat_stone_empty {
    background-color: lightgrey;
    border: 1px dashed black;
    width: 50px;
    height: 50px;
}

.player_stone_empty {
    background-color: lightgrey;
    border: 1px dashed black;
    width: 50px;
    height: 50px;
    margin: 2px;
}

.destination-port {
    align-items: flex-end;
}

.destination-container {
    width: 800px;
    height: 800px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.destination {
    width: 800px;
    height: 160px;
    border: 1px solid lightgrey;
    padding: 5px;
}

.destination-boat {
    border: 2px dashed black;
    background-color: lightgrey;
    width: 250px;
}

.boat-arrived {
    border: 3px solid black;
    background-color: unset;
}

.source {
    width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.action {
    display: flex;
}

.boat-action {
    position: absolute;
    top: 70px;
    width:300px;
}