.block {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: lightgrey;
    /*box-shadow: 0 2px 9px 0 rgba(0,0,0,0.06);*/
}

.gate {
    background-color: lightgreen;
}

.forest {
    background-color: lightseagreen;
}

.sea {
    background-color: lightskyblue;
}

.home {
    background-color: lightsalmon;
}

.link {
    background-color: darkgray;
}