body {
    margin: 0;
}

* {
    font-size: 13px;
}

div {
    box-sizing: border-box;
}

.board-item-section {
    border: 1px solid darkgray;
}

.board-player-section {
    width: 200px;
}

.board-content-section {
    width: 1510px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-space-around {
    justify-content: space-around;
}

.player-card {
    box-shadow: 4px 4px 2px 1px darkgray;
    margin: 10px;
    border: 1px solid darkgray;
}

.player-card-item {
    padding: 4px;
    width: 50px;
    border-bottom: 1px solid darkgray;
    border-left: 1px solid darkgray;
}

.player-card-item-first {
    border-bottom: 1px solid darkgray;
    border-left: 0 solid darkgray;
}

.player-card-name {
    width: 70px;
}

.player-card-count {
    width: 30px;
}

.player-card-item-label {
    background-color: aliceblue;
}

.player-card-category-label {
    width: 40px;
}

.player-card-category {
    width: 40px;
}

.player-card-description {
    width: 180px;
    border-left: 0 solid darkgray;
}

.place-part {
    border: 1px solid darkgray;
}

.place {
    width: 1500px;
    /*margin: 5px;*/
    /*box-shadow: 4px 4px 2px 1px darkgray;*/
}

.place-left {
    margin-top: 200px;
}

.place-right {
    margin-top: 200px;
}

.entrance {

}

.entrance {
    position: absolute;
    width: 140px;
    height: 40px;
    z-index: 100;
    background-color: white;
}

.entrance_0 {
    top: 0;
    left: -140px;
}

.entrance_1 {
    top: 60px;
    left: -140px;
}

.entrance_2 {
    top: 120px;
    left: -140px;
}

.entrance_3 {
    top: 0;
    right: -140px;
}

.entrance_4 {
    top: 60px;
    right: -140px;
}

.entrance_5 {
    top: 120px;
    right: -140px;
}


.zombie-position {
    width: 40px;
    height: 40px;
    border: 1px solid darkgray;
    text-align: center;
}

.text-align-center {
    text-align: center;
}

.width-100-percent {
    width: 100%;
}

.width-200 {
    width: 200px;
}

.width-50 {
    width: 50px;
}

.side-door {
    width: 20px;
    height: 40px;
    text-align: center;
    border: 1px solid darkgray;
    line-height: 40px;
}

.front-door {
    width: 40px;
    height: 20px;
    text-align: center;
    border: 1px solid darkgray;
    line-height: 20px;
}

.place-name {
    background-color: lightblue;
    flex-grow: 1;
    line-height: 40px;
    text-align: center;
}

.survivor-ability-name {
    padding: 5px;
    background-color: white;
}

.survivor-name {
    padding: 5px;
}

.survivor-container {
    display: flex;
    flex-wrap: wrap;
}

.survivor-position {
    min-height: 50px;
    width: 480px;
    background-color: lightgreen;
    padding: 4px;
}

.survivor {
    box-shadow: 4px 4px 2px 1px darkgray;
    margin: 4px;
}

.place-header td {
    border: 1px solid darkgray;
    cursor: pointer;
}

.place-header table {
    margin: 10px;
    border-spacing: 0;
    border-collapse: collapse;
}

.place-container {
    width: 1500px;
    border: 1px solid darkgray;
}

.place-container.active {
    display: block;
}

.place-container.inactive {
    display: none;
}

.game-table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: white;
}

.zombie-line {

}

.game-table td {
    border: 1px solid darkgray;
    padding: 2px;
}

.game-table td.active {
    background-color: #f0f8ff;
}

.zombie-line {
    margin-right: 20px;
}

.game-button {
}

.current-place {
    border: 3px solid lightblue;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 6px, rgb(0 0 0 / 15%) 0 8px 30px, rgb(255 255 255 / 20%) 0 0 0 1px inset;
}

.box {
    box-shadow: rgb(0 0 0 / 10%) 0 4px 6px, rgb(0 0 0 / 15%) 0 8px 30px, rgb(255 255 255 / 20%) 0 0 0 1px inset;
}

.action-button:enabled {
    background-color: aliceblue;
}