* {
    font-size: 14px;
}

td {
    padding: 2px;
}

td.active {
    background: lightblue;
}

div.card {
    width: 100px;
    height: 100px;
}

td.place {
    background: #00CCFF;
}

.survivor-area {
    background: lightgreen;
    width: 40px;
    height: 40px
}

.zombie-area {
    background: lightcoral;
    width: 40px;
    height: 40px
}

.player-item-card {
    width: 250px;
    margin-bottom: 10px;
    border: 1px solid darkgray;
    box-shadow: 4px 4px 2px 1px darkgray;
}

.item-card {
    background: lightseagreen;
    width: 40px;
    height: 40px;
}

.survivor {
    width: 250px;
    margin-bottom: 10px;
    border: 1px solid darkgray;
    box-shadow: 4px 4px 2px 1px darkgray;
}

.player-header {
    border: 1px solid lightblue;
}

.current-survivor-area {
    border: 1px solid darkcyan;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}