<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/three.js"></script>
    <script src="lib/teal.js"></script>
    <script src="lib/cannon.js"></script>
    <script src="lib/dice.js"></script>
    <script src="lib/die.js"></script>
    <script src="lib/jquery.curvedarrow.js"></script>
    <script src="lib/bootstrap.js"></script>
    <link href="lib/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="aab.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">
    <div v-bind:class="background.classObject"></div>

    <div v-bind:style="hiddenPolice.styleObject"
        v-bind:class="hiddenPolice.classObject"></div>

    <div class="block"
         v-for="block in blockList"
         :data-index="block.index"
         :style="block.styleObject"
         :class="block.classObject"
         v-on:mouseenter="showTrickDirection"
         v-on:click="moveByEvent">
            <strong v-bind:style="block.titleStyleObject">{{ block.title }}</strong>
            <div v-if="block.subTitle" style="font-size: 11px">{{ block.subTitle }}</div>
            <div v-if="block.trick" v-bind:class="{ trick: block.trick }">
                속임수 {{ block.trickDirectionIcon }}
            </div>
            <div class="index">
                {{ block.index }}
            </div>
    </div>

    <div class="character burglarCharacter"
         v-for="burglar in burglarList"
         :data-index="burglar.index"
         :key="burglar.index"
         :class="burglar.classObject"
         :style="burglar.styleObject"
         v-on:click="catchBurglar"></div>

    <div class="character policeCharacter"
         v-for="police in policeList"
         :data-index="police.index"
         :key="police.index"
         :class="police.classObject"
         :style="police.styleObject"></div>

    <div class="building"
         v-for="building in buildingList"
         :data-index="building.index"
         :key="building.index"
         :class="building.classObject"
         :style="building.styleObject"
         v-on:click="hideAtBuilding"></div>

    <div v-for="jewelry in jewelryList"
         :data-index="jewelry.index"
         :key="jewelry.index"
         v-bind:class="jewelry.classObject"
         v-bind:style="jewelry.styleObject"></div>
    </div>

    <div class="modal"
         id="jewelryModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="start-comment">
                    보석2개와 잠복 경찰 1명을<br>건물에 숨기세요.
                    </div>
                    <div class="hide-comment" style="display: none">
                        보석을 건물에 숨기세요.
                    </div>
                    <table class="player-info" style="display: none">
                        <tr>
                            <td>
                                <img class="turnImage">
                            </td>
                            <td>
                                <div class="btn-rest-count"></div>
                            </td>
                        </tr>
                    </table>
                    <div id="die">
                        <h4 class="arrest-title"></h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary start-game-button" disabled>게임시작</button>
                    <button type="button" class="btn btn-primary hide-jewelry-button" disabled>다시 숨기기</button>
                    <button type="button" class="btn btn-primary btn-rest" style="display: none">쉬기</button>
                    <button type="button" class="btn btn-primary btn-select-block-for-trick" style="display: none">속임수</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="debug-container">
<button type="button" class="btn btn-default burglar0">burglar0</button>
<button type="button" class="btn btn-default burglar1">burglar1</button>
<button type="button" class="btn btn-default burglar2">burglar2</button>
<button type="button" class="btn btn-default police0">police0</button>
<button type="button" class="btn btn-default police1">police1</button>
<button type="button" class="btn btn-default police2">police2</button>
<input type="text" id="countForDebug" value="0">
</div>
<audio class="die-sound"><source src="mp3/die.mp3"></audio>
<audio class="burglar0-sound"><source src="mp3/burglar0.mp3"></audio>
<audio class="burglar1-sound"><source src="mp3/burglar1.mp3"></audio>
<audio class="burglar2-sound"><source src="mp3/burglar2.mp3"></audio>
<audio class="police0-sound"><source src="mp3/police0.mp3"></audio>
<audio class="police1-sound"><source src="mp3/police1.mp3"></audio>
<audio class="police2-sound"><source src="mp3/police2.mp3"></audio>
<audio class="change-sound"><source src="mp3/change.mp3"></audio>
<div id="trickModal" style="display: none">
    <div class="direction" id="left" style="left:0;top:0"></div>
    <div class="direction" id="up" style="left:25px;top:0"></div>
    <div class="direction" id="down" style="left:50px;top:0"></div>
    <div class="direction" id="right" style="left:75px;top:0"></div>
</div>
<script src="aab.js"></script>
</body>
</html>
