* {
    font-family:굴림;
}

.index {
    position: absolute;
    font-size: 12px;
    left: 2px;
    top: 30px;
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: left;
}

.trick {
    position: absolute;
    font-size: 11px;
    background-color: deeppink;
    left: 48px;
    top: 30px;
    width: 48px;
    height: 16px;
    color: white;
    line-height: 20px;
}

.police {
    background-color: skyblue;
}

.burglar {
    background-color: pink;
}

.block {
    position: absolute;
    width: 92px;
    height: 42px;
    text-align: center;
    margin: 2px;
    padding: 2px;
    border: 1px solid lightgrey;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,0.06);
    border-radius: 5px;
}

.start {
    width: 92px !important;
    height: 92px !important;
    line-height: 92px !important;
    color: white;
}

.burglar.start {
    background-color: deeppink !important;
}

.police.start {
    background-color: deepskyblue !important;
}

.start .index {
    top: 80px;
}

.changePosition {
    background-color: lightsalmon;
}

.goHome {
    background-color: lightgreen;
}

body {
    margin: 1px;
}

.tunnel {
    background-color: lightsteelblue;
    color: white;
}

.stop {
    background-color: lightyellow;
}

.mission {
    background-color: lightyellow;
}

.rest {
    background-color: lightyellow;
}

*,
*::before,
*::after {
    box-sizing: unset;
}