<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/three.js"></script>
    <script src="lib/teal.js"></script>
    <script src="lib/cannon.js"></script>
    <script src="lib/dice.js"></script>
    <script src="lib/die.js"></script>
    <script src="lib/jquery.curvedarrow.js"></script>
    <script src="lib/bootstrap.js"></script>
    <link href="lib/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="aab.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">
    <div v-bind:class="background.classObject"></div>

    <div v-bind:style="hiddenPolice.styleObject"
        v-bind:class="hiddenPolice.classObject"></div>

    <div class="block"
         v-for="block in blockList"
         :data-index="block.index"
         :style="block.styleObject"
         :class="block.classObject"
         v-on:click="moveByEvent">
            <strong v-bind:style="block.titleStyleObject">{{ block.title }}</strong>
            <div v-if="block.subTitle" style="font-size: 11px">{{ block.subTitle }}</div>
            <div v-if="block.trick" v-bind:class="{ trick: block.trick }">
                속임수 {{ block.trickDirectionIcon }}
            </div>
            <div class="index">
                {{ block.index }}
            </div>
    </div>

    <div class="character burglarCharacter"
         v-for="burglar in burglarList"
         :data-index="burglar.index"
         :key="burglar.index"
         :class="burglar.classObject"
         :style="burglar.styleObject"></div>

    <div class="character policeCharacter"
         v-for="police in policeList"
         :data-index="police.index"
         :key="police.index"
         :class="police.classObject"
         :style="police.styleObject"></div>

    <div class="building"
         v-for="building in buildingList"
         :data-index="building.index"
         :key="building.index"
         :class="building.classObject"
         :style="building.styleObject"
         v-on:click="hideJewelryAtBuilding"></div>

    <div v-for="jewelry in jewelryList"
         :data-index="jewelry.index"
         v-bind:class="jewelry.classObject"
         v-bind:style="jewelry.styleObject"></div>
    </div>

    <div class="modal"
         id="turnModal"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <div>
                        <img class="turnImage">
                        <button class="btn btn-default btn-rest-count" disabled></button>
                        <button class="btn btn-success btn-rest">쉬기</button>
                        <button class="btn btn-success btn-select-block-for-trick">속임수</button>
                        </div>
                    </div>
                    <div id="die"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal"
         id="trickModal"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <div class="trickButtonGroup">
                            <table>
                                <tr>
                                    <td><button class="btn btn-default" disabled> </button></td>
                                    <td><button data-trick-direction="up" class="btn btn-success btn-trick">▲</button></td>
                                    <td><button class="btn btn-default" disabled> </button><br></td>
                                </tr>
                                <tr>
                                    <td><button data-trick-direction="left" class="btn btn-success btn-trick">◀</button></td>
                                    <td><button class="btn btn-default" disabled> </button></td>
                                    <td><button data-trick-direction="right" class="btn btn-success btn-trick">▶</button></td>
                                </tr>
                                <tr>
                                    <td><button class="btn btn-default" disabled> </button></td>
                                    <td><button data-trick-direction="down" class="btn btn-success btn-trick">▼</button></td>
                                    <td><button class="btn btn-default" disabled> </button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal"
         id="jewelryModal"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    보석과 잠복 경찰을 건물에 숨기세요.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary hide-jewelry-button">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="aab.js"></script>
</body>
</html>
