<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/three.js"></script>
    <script src="lib/teal.js"></script>
    <script src="lib/cannon.js"></script>
    <script src="lib/dice.js"></script>
    <script src="lib/die.js"></script>
    <script src="lib/jquery.curvedarrow.js"></script>
    <script src="lib/bootstrap.js"></script>
    <link href="lib/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="aab.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">
    <div class="block"
         v-for="cell in cellList"
         v-bind:style="cell.styleObject"
         v-bind:class="cell.classObject">
            <strong v-bind:style="cell.titleStyleObject">{{ cell.title }}</strong>
            <div v-if="cell.subTitle" style="font-size: 11px">{{ cell.subTitle }}</div>
            <div v-if="cell.trick" v-bind:class="{ trick: cell.trick }">
                속임수
            </div>
            <div class="index">
                {{ cell.index }}
            </div>
    </div>
    <div v-for="burglar in burglarList" v-bind:style="burglar.styleObject"></div>
    <div v-for="police in policeList" v-bind:style="police.styleObject"></div>

    <div v-for="building in buildingList"
         :data-index="building.index"
         v-bind:key="building.index"
         v-bind:class="building.classObject"
         v-bind:style="building.styleObject"
         v-on:click="hideJewelry"></div>

    <div v-for="jewelry in jewelryList" v-bind:style="jewelry.styleObject"></div>
    </div>
</div>
<div class="modal"
    id="diceModal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="die"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal"
     id="jewelryModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                보석을 숨길 건물을 클릭하세요.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary hide-jewelry-button">확인</button>
            </div>
        </div>
    </div>
</div>
<script src="aab.js"></script>
</body>
</html>
