<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/three.js"></script>
    <script src="lib/teal.js"></script>
    <script src="lib/cannon.js"></script>
    <script src="lib/dice.js"></script>
    <script src="lib/die.js"></script>
    <script src="lib/jquery.curvedarrow.js"></script>
    <script src="lib/bootstrap.js"></script>
    <link href="lib/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="aab.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">
    <div v-bind:class="background.classObject"></div>
    <div v-bind:style="hiddenPolice.styleObject"
        v-bind:class="hiddenPolice.classObject"></div>
    <div class="block"
         v-for="block in blockList"
         v-bind:style="block.styleObject"
         v-bind:class="block.classObject">
            <strong v-bind:style="block.titleStyleObject">{{ block.title }}</strong>
            <div v-if="block.subTitle" style="font-size: 11px">{{ block.subTitle }}</div>
            <div v-if="block.trick" v-bind:class="{ trick: block.trick }">
                속임수
            </div>
            <div class="index">
                {{ block.index }}
            </div>
    </div>

    <div class="character"
         v-for="burglar in burglarList"
         v-bind:class="burglar.classObject"
         v-bind:style="burglar.styleObject"></div>

    <div class="character"
         v-for="police in policeList"
         v-bind:class="police.classObject"
         v-bind:style="police.styleObject"></div>

    <div class="building"
         v-for="building in buildingList"
         :data-index="building.index"
         v-bind:key="building.index"
         v-bind:class="building.classObject"
         v-bind:style="building.styleObject"
         v-on:click="hideJewelryAtBuilding"></div>

    <div v-for="jewelry in jewelryList"
         :id="jewelry.index"
         v-bind:class="jewelry.classObject"
         v-bind:style="jewelry.styleObject"></div>
    </div>
</div>
<div class="modal"
    id="diceModal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="die"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal"
     id="jewelryModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                보석과 잠복 경찰을 건물에 숨기세요.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary hide-jewelry-button">확인</button>
            </div>
        </div>
    </div>
</div>
<script src="aab.js"></script>
</body>
</html>
